/*

CSS Syntax

selector  {
    property: value;
}

Type Selectors Match HTML Elements

Universal Selector *
Full Page html
Paragraph p
Links a
Headers h

Attribute Selector
Used to target specific attributes

[id]  {
    property: value;
}

Class Selectors
Used to target specific class tags (bold, italics, green)

.class  {
    property: value;
}

ID Selector
Used to target specific IDs

#id  {
    property: value;
{

Descendant Combinators
Used to apply style to code and descendant code (tags that are within other tags)

element1 element2  {
    property: value;
}

element1 * element2 {
    property: value;
}

Child Combinators
Targets code with child relationship (<ol> and <li>)

element1 > element2 {
    property: value;
}

Sibling Combinators
Targets tags that are on the same level (<header> and <article>)

element1 + element2 {
    property: value;
}

element1 ~ element2(seperated) {
    property: value;
}
*/

* {
    background-color: none;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0:
}

/* Top Navigation Bar */

.topnav {
    width: 100%;
    background-color: #555;
    overflow: auto;
    position: sticky;
    top: 0;
}

.topnav a {
    float: left;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px;
    font-size: 17px;
    width: 25%;
    text-align: center;
}

.topnav a:hover {
    background-color: black;
    color: white;
}

@media screen and (max-width: 2000px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
    
}

.topnav a.active {
    background-color: purple;
}

/* Side Navigation Bar*/

.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 48px;
    left: 0;
    background-color: #555;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    
}

.sidenav a:hover {
    color: white;
    background-color: purple;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

/* PDF and Image */

iframe {
    display: block;
    margin: auto;
}

img {
    display: block;
    margin: auto;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
   }

/* Font */

html {
    font-size: 1rem;
 }

header {
    font-size: 2rem;
}

body {
    font-family: "", ;
}